#root {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainpage-canvas {
    width: 100vw;
    height: 100vh;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.mainpage-container {
    width: 100%;
    height: 100%;

    position: relative;
    /* ================================================= */
    background-color: rgb(67, 67, 172);
    color: white;
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* ================================================= */

}