* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-canvas {
    width: 100%;
    height: 20%;
    top: 0%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}